/thesis.pdf
/thesis.synctex.gz
/tmp/
/thesis.toc
*.aux
*.log
/tempPartial00000.tex
/tempPartial00000.pdf
/tempPartial00000.synctex.gz
/thesis.lof
/thesis.lot
/thesi.synctex.gz
/thesis.run.xml
/thesis.bbl
/thesis.blg
/tempPartial00000-blx.bib
/thesis.synctex(busy)
